@model Recipes.Models.RecipeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecipeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control"/>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-select">
                    <option value="Ontbijt">Ontbijt</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Diner">Diner</option>
                    <option value="Snack">Snack</option>
                    <option value="Dranken">Dranken</option>
                    <option value="Desert">Desert</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control"/>
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <label>Bereidingswijze</label>
            @for (int i = 0; i < Model.Steps.Count; i++)
            {
                <div class="form-group">
                    <label class="control-label">Stap @Model.Steps[i].Order</label>
                    <textarea asp-for="Steps[i].Description" class="form-control" rows="3"></textarea>
                    <input asp-for="Steps[i].Id" type="hidden" />
                    <input asp-for="Steps[i].Order" type="hidden" />
                    <span asp-validation-for="Steps[i].Description" class="text-danger"></span>
                </div>
            }
            <label>Ingrediënten</label>
            @for (int i = 0; i < Model.Ingredients.Count; i++)
            {
                <div id="ingredients">
                    <div asp-for="Ingredients" class="ingredient input-group">
                        <select asp-for="Ingredients[i].NewIngredientId" class="form-select form-select-sm">
                            @foreach (var ingredient in ViewBag.Ingredients)
                            {
                                @if (ingredient.Id == Model.Ingredients[i].IngredientId)
                                {
                                    <option value="@ingredient.Id" selected>@ingredient.Title</option>
                                }
                                else
                                {
                                    <option value="@ingredient.Id">@ingredient.Title</option>
                                }
                            }
                        </select>
                        <input asp-for="Ingredients[i].IngredientId" type="hidden" />
                        <input asp-for="Ingredients[i].Quantity" type="number" class="form-control">
                        <select asp-for="Ingredients[i].Unit" class="form-select form-select-sm">
                            <option value="Gram">Gram</option>
                            <option value="Milliliter">Milliliter</option>
                            <option value="Stuks">Stuks</option>
                            <option value="Theelepel">Theelepel</option>
                            <option value="Eetlepel">Eetlepel</option>
                        </select>
                    </div>
                </div>
            }
            <div class="form-group mt-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                    <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
